services:
  publirs:
    container_name: publirs
    init: true
    image: atareao/publirs:latest
    volumes:
      - db:/app/db
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
      - DB_URL=sqlite:/app/db/publirs.db
      - PORT=8080
      - ENVIRONMENT=PRODUCTION
      - TOKEN=${TOKEN}
  croni:
    image: atareao/croni:latest
    restart: always
    init: true
    container_name: croni
    configs:
      - source: croni
      - target: /crontab.txt
      - mode: "0444" 
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - LOGLEVEL=debug

volumes:
  db: {}

configs:
  croni:
    content: |
      0 0,6,12,18 * * * curl http://publirs:8080/api/v1/status >> /proc/1/fd/1
      0 20 * * 2,4      curl http://publirs:8080/api/v1/publish_tip >> /proc/1/fd/1
      0 20 * * 0        curl http://publirs:8080/api/v1/publish_poll >> /proc/1/fd/1
