services:
  element:
    image: vectorim/element-web
    container_name: element_web
    restart: unless-stopped
    configs:
      - source: element
        target: /app/config.json
        mode: "0400"
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.services.element.loadbalancer.server.port: 80
      traefik.http.routers.element.entrypoints: https
      traefik.http.routers.element.rule: Host(`${FQDN1}`)
  conduit:
    image: matrixconduit/matrix-conduit:latest
    container_name: conduit
    restart: unless-stopped
    volumes:
      - db:/var/lib/matrix-conduit/
    environment:
      RUST_BACKTRACE: full
      CONDUIT_SERVER_NAME: ${FQDN2}
      CONDUIT_DATABASE_PATH: /var/lib/matrix-conduit/
      CONDUIT_DATABASE_BACKEND: rocksdb
      CONDUIT_PORT: 6167
      CONDUIT_MAX_REQUEST_SIZE: 20_000_000 # in bytes, ~20 MB
      CONDUIT_ALLOW_REGISTRATION: false
      #CONDUIT_REGISTRATION_TOKEN: '' # require password for registration
      CONDUIT_ALLOW_FEDERATION: true
      CONDUIT_ALLOW_CHECK_FOR_UPDATES: true
      CONDUIT_TRUSTED_SERVERS: '["matrix.org"]'
      #CONDUIT_MAX_CONCURRENT_REQUESTS: 100
      CONDUIT_ADDRESS: 0.0.0.0
      CONDUIT_CONFIG: "" # Ignore this
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.services.conduit.loadbalancer.server.port: 6167
      traefik.http.routers.conduit.entrypoints: https
      traefik.http.routers.conduit.rule: Host(`${FQDN2}`)
      traefik.http.routers.conduit.middlewares: cors-headers@docker
      traefik.http.middlewares.cors-headers.headers.accessControlAllowOriginList: "*"
      traefik.http.middlewares.cors-headers.headers.accessControlAllowHeaders: Origin,X-Requested-With,Content-Type,Accept,Authorization
      traefik.http.middlewares.cors-headers.headers.accessControlAllowMethods: GET,POST,PUT,DELETE,OPTIONS
volumes:
  db: {}
networks:
  proxy:
    external: true
configs:
  element:
    content: |
      {
        "default_server_config": {
          "m.homeserver": {
            "base_url": "https://${FQDN2}"
          },
          "m.identity_server": {
            "base_url": "https://vector.im"
          }
        },
        "disable_custom_urls": false,
        "disable_guests": false,
        "disable_login_language_selector": false,
        "disable_3pid_login": false,
        "brand": "Element",
        "integrations_ui_url": "http://localhost:8011/element",
        "integrations_rest_url": "http://localhost:8011/api/v1/scalar",
        "integrations_widgets_urls": [
          "http://localhost:8011/widgets"
        ],
        "bug_report_endpoint_url": "https://element.io/bugreports/submit",
        "defaultCountryCode": "GB",
        "showLabsSettings": false,
        "features": {
          "feature_pinning": true
        },
        "default_federate": true,
        "default_theme": "light",
        "roomDirectory": {
          "servers": [
            "matrix.org"
          ]
        },
        "piwik": false,
        "enable_presence_by_hs_url": {
          "https://matrix.org": false,
          "https://matrix-client.matrix.org": false
        },
        "settingDefaults": {
          "breadcrumbs": true
        },
        "jitsi": {
          "preferredDomain": "jitsi.riot.im"
        }
      }
    

