services:
  keep:
    image: nikunjsingh/glass-keep:latest
    container_name: glass-keep
    restart: unless-stopped
    environment:
      NODE_ENV: production
      API_PORT: "8080"
      JWT_SECRET: ${JWT_SECRET}
      DB_FILE: /app/data/notes.db
      ADMIN_EMAILS: ${ADMIN_EMAILS}
    networks:
      - proxy
    volumes:
      - data:/app/data
    labels:
      - traefik.enable=true
      - traefik.http.services.keep.loadbalancer.server.port=8080
      - traefik.http.routers.keep.entrypoints=https
      - traefik.http.routers.keep.rule=Host(`${FQDN}`)
volumes:
  data: {}
networks:
  proxy:
    external: true

