services:
  notemark:
    image: ghcr.io/enchant97/note-mark-aio
    container_name: notemark
    init: true
    restart: unless-stopped
    volumes:
      - data:/data
    networks:
      - proxy
    environment:
      JWT_SECRET: "${JWT_SECRET}"
      CORS_ORIGINS: "https://${FQDN}"
      PUBLIC_URL: "https://${FQDN}"
      ALLOW_SIGNUP: false
      ENABLE_INTERNAL_SIGNUP: false
    labels:
      traefik.enable: true
      traefik.http.services.notemark.loadbalancer.server.port: 8080
      traefik.http.routers.notemark.rule: Host(`${FQDN}`)
      traefik.http.routers.notemark.entrypoints: https

volumes:
  data: {}

networks:
  proxy:
    external: true
